.text-input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
}

.text-input {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    padding: 10px 0;
    background-color: transparent;
}

.text-input::placeholder {
    color: #ddd;
}

.text-input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    pointer-events: none;
    color: #ddd;
    transition: all 0.2s ease;
}

.text-input-label-focused {
    top: -14px;
    left: 0;
    font-size: 12px;
    color: #333;
}

.text-input-container.focused .text-input-label {
    top: -14px;
    left: 0;
    font-size: 12px;
    color: #333;
}

.text-input-container.focused .text-input {
    border-bottom: 2px solid #333;
}